---
export interface DropdownProps {
  options: string[];
  selected: string;
  id: string;
  style?: string;
}
const { options, selected, id, style } = Astro.props as DropdownProps;

let class_ = "inline";
if (style) {
  class_ = style;
}

function capitalize(s: string): string {
  return s.charAt(0).toUpperCase() + s.slice(1);
}
---

<select id={id} class={class_}>
  {
    options.map((option) => (
      <option value={option} selected={option === selected}>
        {capitalize(option)}
      </option>
    ))
  }
</select>

<style>
  .inline {
    display: inline;
  }
  .hidden {
    display: hidden;
  }
  .nodisplay {
    display: none;
  }
</style>
