---
export interface sentLenDropdownProps {
  maxMinSentLen: number;
}

const { maxMinSentLen } = Astro.props;
---

<select id="sentLenDropdown" value="1">
  <option value="1" selected={true}>All sentences</option>
  {
    Array.from({ length: maxMinSentLen - 1 }, (_, i) => (
      <option value={i + 2}>{i + 2}+ words per sentence</option>
    ))
  }
</select>
